* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 15rem;
    background-color: transparent;
}

hr {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-block: 0.5rem;
}

.container {
    padding: 4px;
    user-select: none;
    /* border-image: linear-gradient(to right, #ff0000, #ffee00, #00ff00, #00eeff, #0000ff, #ff00ee, #ff0000) 1;
    border-width: 2px;
    border-style: dashed; */
}

.container::before {
    content: '';
    position: fixed;
    left: -2px;
    top: -2px;
    /* calc方法可以用来动态计算长度 */
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -999;
    /* background: repeating-conic-gradient(from var(--range), #0ff, #f0f, #0ff, #ff0, #0f0); */
    background: repeating-conic-gradient(from var(--range), #f00, #ff0, #ff0, #0f0, #0ff, #0ff, #00f, #f0f, #f0f, #f00);
    animation: rotating 6s linear infinite;
}

@property --range {
    initial-value: 0deg;
    syntax: '<angle>';
    inherits: false;
}

@keyframes rotating {
    0% {
        --range: 0deg;
    }

    100% {
        --range: 360deg;
    }
}

.app {
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    background-color: white;
}

.app div {
    margin-block: 3px;
}

.app .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app .input label {
    flex: 1;
    text-align: justify;
    white-space: nowrap;
    pointer-events: none;
}

.app .input label:hover,
.app .input input:hover,
.app button {
    cursor: pointer;
}

.app .input input {
    flex: 2;
}

.app .input span {
    flex: 3;
    pointer-events: none;
}

.app button {
    width: 50%;
    margin: 0 auto;
}

.app span,
.app h3 {
    display: flex;
    justify-content: center;
    text-align: center;
}